<div class="panel">

  <div class="row" ng-repeat="merchant in merchantList">
    <div class="col-xs-3">
      <img src="http://media-cdn.tripadvisor.com/media/photo-s/04/78/3c/91/kfc-kentucky-fried-chicken.jpg" style="width:100%;">
    </div>
    <div class="col-xs-9">
      <h2>{{merchant.name}}</h2>
      <p>
        {{merchant.description}}
        <br>
        {{merchant.phone_number}}
        <br>
        {{merchant.email}}
      </p>
      <label class="label label-info">{{merchant.queing_no}}</label>
      <button class="btn-success btn-sm btn">Queue Now</button>
    </div>

  </div>
</div>